/* General Page Style */
.turf-page {
  background: linear-gradient(to bottom, #065f46, #2e4d47);
  color: white;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

/* Hero Section */
.turf-hero {

  width: 100%;
  display: flex;
  justify-content: center;
}

/* Image Container with Gradient Overlay */
.turf-image-container {
  position: relative;
  width: 90%;
  max-height: 65vh;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid #16a34a;
  box-shadow: 0 8px 20px rgba(0, 255, 100, 0.3);
}

.turf-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Gradient at bottom */
.turf-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}

/* Overlay Text */
.turf-title {
  font-size: 2rem;
  font-weight: bold;
  color: #22c55e;
  margin: 0;
}

.turf-price {
  font-size: 1.2rem;
  color: #4ade80;
  font-weight: bold;
  margin-top: 5px;
}

.turf-details {
  padding: 30px 60px;
}

/* Slot Container */

.slot-div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slot-container {
  width: 90%;
  background: #111827;
  border: 2px solid #16a34a;
  border-radius: 12px;
}

/* Slot Grid - 4 per row */
.slot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 13px;
}

.slot-container h2{
  padding: 15px;
  color: #22c55e;
}

/* Slot Checkbox Box */
.slot-check {
  position: relative;
  background: #1f2937;
  border: 2px solid #16a34a;
  border-radius: 8px;
  padding: 8WSpx 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

/* Hide input */
.slot-input {
  display: none;
  
}

/* Label styling */
.slot-label {
  color: #d1d5db;
  font-size: 0.95rem;
  cursor: pointer;
  padding: 12px 20px 12px 20px;
  white-space: normal;
  word-wrap: break-word;
  display: block;
  line-height: 1.3;
  
}

/* Checked state */
.slot-input:checked + .slot-label {
  color: #fff;
}

.slot-input:checked + .slot-label::before {
  content: "✔️ ";
  color: #22c55e;
  font-weight: bold;
}

@media (max-width: 480px) {
  .slot-label {
    font-size: 0.85rem;
  }
}




