@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
header {
  background-color: #1a3c34;
  position: sticky;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: #4caf50;
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 45%;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #2e4d47;
  color: #ffffff;
  font-size: 1rem;
  outline: none;
}

.search-bar::placeholder {
  color: #a0b0a8;
}

.account-logo .avator {
  color: #4caf50;
  font-size: 1.5rem;
  text-decoration: none;
  left: -50px;
}

.account-logo .avator:hover {
  color: #66bb6a;
}
